/* globals.css */
html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden; /* Prevents horizontal scrolling */
    font-family: 'Roboto', sans-serif; /* Apply Roboto font globally */
  }
  